<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key="adfs:IsEnable" value="true"/>
    <add key="ExternalAuth.WsFederation.IsEnabled" value="true" />
    <add key="ExternalAuth.WsFederation.MetaDataAddress" value="" />
    <add key="ExternalAuth.WsFederation.Wtrealm" value="" />

    <add key="uam:ClientRequestUrl" value="https://uam.sacombank.local/AppConnection/GetConnString" />
    <add key="uam:ClientRequestContent" value="appid=1122&amp;seccode=50daf88954ed4d0fa172000850239f81.uIqHvzn8bqNmCROC3d%2fYdiAYdelh3ci07OaYBZUxThZpgbn6bP8Sy3N%2bA%2fPYENjVRHII%2boJnMwKyRRB16JjNjC6Kz2IysB4XsyLQfNi0nA2mY8cWj7gkLzTgu7Ea8tvj7irBDJuH5xisS4eAfH%2bynrVIj6tkVX6%2bLXLCHLDiqwg%3d" />
    <add key="uam:LocalConnection" value="false" />
    <add key="uam:ByPassCert" value="true" />
    <!--Core -->
    <add key="IsCore" value="1"/>
    <add key="IsCoreConnect" value="1"/>
    <!--<add key="LinkServiceBV" value="http://172.29.5.43:8011//VCCB_ASSET/ProxyServices/AssetProxy?wsdl"/> -->
    <add key="LinkServiceBV" value="http://uat.osb.vietcapitalbank.com.vn/VCCB_ASSET/ProxyServices/AssetProxy"/>
    <add key="CheckHolidaySoapActionBV" value="http://www.alsb.com/WebService/CheckHoliday"/>
    <add key="TranMultiOffsetSoapActionBV" value="http://www.alsb.com/WebService/TranMultiOffset"/>
    <add key="GlList" value="http://www.alsb.com/WebService/GlList"/>
    <add key="CasaListCheck" value="http://www.alsb.com/WebService/CasaListCheck"/>
    
    
    <add key="esb_fam" value="https://10.50.143.168:8243/esb/oraclefinance/1.0.0/v1.0/assetnumber"/>
  </appSettings>
  <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
